/*General Purpose*/
.center-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 85vh;
}

/* Home CSS*/
.home-paper {
	display: flex;
	flex-direction: column;
	padding: 10px;
	text-align: center;
	justify-content: space-evenly;
	height: clamp(400px, 40vh, 1000px);
	width: clamp(300px, 30vw, 1000px);
}

.home-header {
	padding: 10px;
	font-size: 1.8em;
	margin: 0 3vh;
}

.home-logo {
	width: clamp(220px, 20vw, 500px);
	height: auto;
	margin: 3vh;
}
.home-buttons-div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: 20px;
	padding: 20px;
}
.home-button {
	margin: 0 10px;
	width: clamp(100px, 8vw, 300px);
	flex-shrink: 0;
}

/*Login CSS*/
.login-paper {
	display: flex;
	flex-direction: column;
	padding: 10px;
	text-align: center;
	justify-content: space-evenly;
	height: clamp(400px, 40vh, 1000px);
	width: clamp(300px, 30vw, 1000px);
}

.login-name {
	width: clamp(250px, 25vw, 800px);
	flex-shrink: 0;
}

.login-button {
	width: clamp(180px, 18vw, 800px);
	flex-shrink: 0;
}
